.footer{
    display: flex;
    background: #222;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,.1);
    width: calc(100% - 10.71429em);
    color: #666;
    &__inner{
      width: 64.8%;
      position: relative;
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-wrap: wrap;
      padding: 5.42857em 0 4.14286em 5.35714em;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
    }
    &__logo{
      order: 1;
      width: 22.7%;
      -webkit-box-ordinal-group: 1;
    }
    &__sitemenu{
      order: 2;
      width: calc(100% - 22.7%);
    }
    &__contact{
      width: 35.2%;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-btn,&-panel{
        height: 50%;
        width: 100%;
      }
      &-link{
        align-items: center;
        width: 100%;
        height: 100%;
        display: flex;
        color: #fff;
      }
      &-text{
        display: block;
        width: 100%;
      }
      &-panel{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-summary{
        color: #fff;
        font-size: 1.4rem;
        margin-bottom: 0.8rem;
      }
      &-phone,&-mail{
        
        letter-spacing: .04em;
        font-size: 1.2rem;
      }
    }
}