.sideinfo {
  position: fixed;
  top: 0;
  left: 0;
  &__summary {
    white-space: nowrap;
      letter-spacing: 0.052em;
      font-weight: 300;
      font-size: 1.2rem;
      line-height: 1;
    
    &-text {
      position: relative;
      display: inline-block;
      line-height: 1;
      text-align: left;
    }
  }
}

@media (max-width: 999px) {
  .sideinfo {
    height: 60px;
    width: 100%;
    &__inner{
      display: flex;
      height: 100%;
      align-items: center;
    }
    &__summary {
      font-size: .8rem;
      padding-left: 60px;
    }
  }
}
@media (min-width: 1000px) {
  .sideinfo {
    min-height: 44.28571em;
    width: 10.71429em;
    height: 100vh;
  
    &::before {
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
  
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: block;
      width: 1px;
      // height: 0%;
      content: '';
      -webkit-transition: height 0.4s 1.4s ease-out, background-color 0.2s 1.7s ease-out,
        opacity 0.2s ease-out;
      transition: height 0.4s 1.4s ease-out, background-color 0.2s 1.7s ease-out,
        opacity 0.2s ease-out;
    }
    &__inner {
      height: 100vh;
    }
    &__summary {
      // for media query
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      -ms-flex-pack: center;
      justify-content: center;
      padding-top: calc(13.75em + 1.16667em);
      height: 100vh;
      -webkit-transition: font-size 0.2s linear;
      transition: font-size 0.2s linear;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -webkit-box-pack: center;
  
      
      &-text {
        writing-mode: vertical-rl;
        -webkit-writing-mode: vertical-rl;
        right: 4px;
      }
    }
  }
}
